nltk
jsonlines
pandas
torch
torchvision
torchtext
torchsummaryX
numpy
matplotlib
sklearn
ipywidgets
sentence-transformers
spacy==2.1.6
openpyxl
sentencepiece==0.1.95
tensorflow==2.4.1
transformers==4.4.2
git+https://github.com/boudinfl/pke.git
pysolr==3.3.1 